#app {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  border: 1px solid #000;
}
#btn {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: rgba(38, 95, 148, 0.7);
  color: white;
  cursor: pointer;
}
ul {
  text-align: left;
  list-style: none;
}
